body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: whitesmoke;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background-color: #1e2836;
    color: white;
}

button.btn.btn-primary {
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border: 1px solid;
}

main {
    min-height: 90vh;
}

div.container {
    padding: 0px 20px 40px 20px;
}

h1 {
    margin-bottom: 20px;
}

.image {
    text-align: center;
}

.image img {
    height: 400px;
    padding: 20px;
}

footer {
    margin-top: auto;
    background-color: #007bff;
}

footer > div > p {
    color: white;
}

footer div.container {
    padding: 20px 0;
}

p.text-center {
    margin: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
    body {
        padding-top: 75px;
    }
    .navbar-brand {
        font-size: 18px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 24px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    ...;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    ...;
}
